.formItemInputContainer {
  width: 91%;
  display: inline-block;
}

.formItemInputContainer input {
  width: 100%;
  padding: 6px 12px;
  color: rgba(0,0,0,0.38);
  font: 400 18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 40px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  display: block;
}

.inputContainer-wrapper {
  padding: 15px;
}

.formItemDeleteSvg {
  padding-top: 14px;
}

.inputAreaHint {
  border: 1px solid #3E67D3;
}
