html {
  font-size: 16px;
}

.formItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.formItemTextField {
  width: 100%;
  padding: 6px 12px;
  color: rgba(0,0,0,0.38);
  font: 400 18px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  height: 40px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  display: block;
}

.inputContainer-wrapper {
  padding: 15px;
}

.formItemDeleteSvg {
  padding-top: 14px;
}

.formItemButton {
  padding-top: 10px;

}

